* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url("background2.jpg");
    background-size: cover;
}
/* Header code here */
header {
    margin-top: 3em;
    margin-bottom: 2em;
    max-width: 1000px;
    padding: 0 4em;
}
.subheader {
    font-family: 'Nixie One', cursive;
    font-style: italic;
    font-size: 1.4em;
    letter-spacing: 1px;
}
/* Main data entry and google map api here */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    min-width: 800px;
}
.searchMain, .map, .dayCard {
    display: flex;
    flex-direction: column;
    background: #000000d0;
    color: white;
    padding: 1em 0.4em 1em 0.8em;
    border-radius: 15px;
    width: 45%;
    margin: 0.8em;
}

.map{
    font-family: 'Fanwood Text', serif;
}
.dayCard{
    height: 200px;
    width: 200px;
}

.add-button, .delete-button {
    margin: .2em;
    border-radius: 10px;
    border: solid 1px rgb(129, 129, 129);
    height: 30px;
    width: 50px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}
.add-button {
    margin-left: 0;
}
#generate {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.9rem;
    border: solid 1px rgb(129, 129, 129);
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    width: 150px;
    height: 40px;
}
input.search-bar, .city-input {
    border: none;
    outline: none;
    padding: 0.4em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: calc(100% - 145px);
    display: inline-block;
    text-align: inherit;
}
input.days{
    margin: 0.2em 0;
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 80px;
    display: inline-block;
}
.days-input{
    margin: 0.2em;
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 80px;
    display: inline-block;
}
button:hover {
    background: #7c7c7c6b;
    transition: 0.2s ease-in-out;
    border: solid 1px white;
}

#generate:hover {
    background: rgb(50, 133, 50);
    letter-spacing: 1px;
    border: solid 1px white;
    transition: 0.2s ease-in-out;
}

@media screen and ( max-width: 800px){
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .searchMain, .map {
        width: 500px;
    }

}
@media screen and ( max-width: 630px){
    header {
        padding: 0 1em;
        margin-top: 2.5em;
        margin-bottom: 1.5em;
    }
    header, h1 {
        font-size: 1.3em;
    }
    .subheader{
        font-size: .9em;
        letter-spacing: 1px;
    }
    .searchMain, .map {
        width: 400px;
    }
}
@media screen and ( max-width: 475px){
    header {
        padding: 0 .7em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    header, h1 {
        font-size: 1.1em;
    }
    .subheader{
        font-size: .7em;
    }
    .searchMain, .map {
        width: 300px;
    }
}