* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("umbrellas.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
} 
@font-face {
    font-family: "Outline";
    src: url("../Personal-Portfolio/Elephant-Outline.woff") format("woff");
    src: url("/Elephant-Outline.woff") format("woff");
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
@keyframes rain {
    0% {
        background: #0cf;
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em #0cf,
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    50% {
        background: rgba(255,255,255,0.3);
        box-shadow:
        0.625em 0.875em 0 -0.125em #0cf,
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    100% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
}
/* Header code *****************************************/
header {
    margin: 2rem 0 0rem 0;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.headerMain {
    background: #0b1e3dd0;
    color: white;
    padding: 0rem 0rem 1.2rem 0.9rem;
    border-radius: 15px;
    width: 15rem;
    position: relative;
}
h1 {
    font-family: 'Outline', sans-serif;
    color: white;
    font-size: 4em;
    font-weight: 300;
}
.iconHeader {
    position: absolute;
    top: 3%;
    left: 52%;
    display: inline-block;
    color: rgb(221, 224, 224);
    width: 12em;
    height: 10em;
    font-size: 0.5em; /* control icon size here */
}
.subheader {
    text-align: center;
    letter-spacing: 5px;
    font-size: 3.55em;
    margin: 3rem 0;
    text-shadow: white 2px 2px 0;
    font-family: 'Give You Glory', cursive;
    /* font-family: 'Italianno', cursive; */
    /* font-family: 'Nothing You Could Do', cursive; */
    /* font-family: 'Over the Rainbow', cursive; */
}
/* Main data entry section *****************************/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 2em;
}
.search, .map, .dayCard {
    display: flex;
    flex-direction: column;
    background: #0b1e3dd0;
    color: white;
    border-radius: 15px;
    width: 70%;
}
.search {
    margin-top: 8rem;
    padding: 2rem 2rem;
}
.maintext {
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 1.1rem;
}
.add-button {
    margin: 0.7rem;
    border-radius: 0.6rem;
    border: solid 1px rgb(129, 129, 129);
    height: 2rem;
    width: 8rem;
    outline: none;
    background: #0b1e3dd0;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 0;
}
.delete-button {
    margin: 0 0 0.5rem 0.25rem;
    border-radius: 0.6rem;
    border: solid 1px rgb(129, 129, 129);
    height: 2rem;
    width: 4.7rem;
    outline: none;
    background: #0b1e3dd0;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
#generate {
    border-radius: 0.6rem;
    margin: 0 auto;
    margin-top: 0.9rem;
    border: solid 1px rgb(129, 129, 129);
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    width: 18rem;
    height: 2.5rem;
}
a {
    text-decoration: none;
    color: white;
}
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4rem 0.5rem;
    border-radius: 0.6rem;
    background: #7c7c7c2b;
    color: white;
    font-size: 1.2rem;
    height: 2rem;
    width: calc(100% - 10rem);
    display: inline-block;
    text-align: inherit;
    border: solid 1px rgb(129, 129, 129);
}
.city-input {
    border: none;
    outline: none;
    padding: 0rem 0.5rem;
    border-radius: 0.6rem;
    background: #7c7c7c2b;
    color: white;
    font-size: 1.2rem;
    height: 2rem;
    width: calc(100% - 10rem);
    display: inline-block;
    text-align: inherit;
    border: solid 1px rgb(129, 129, 129);
}
input.days{
    margin: 0.2rem 0;
    border: none;
    outline: none;
    padding: 0.3rem 0.4rem;
    border-radius: 0.6rem;
    background: #7c7c7c2b;
    color: white;
    font-size: 1.2rem;
    height: 2rem;
    width: 9rem;
    display: inline-block;
    border: solid 1px rgb(129, 129, 129);
}
.daysInput{
    border: none;
    outline: none;
    padding: 0rem 0.5rem;
    margin-left: 0.25rem;
    border-radius: 0.6rem;
    background: #7c7c7c2b;
    color: white;
    font-size: 1.2rem;
    height: 2rem;
    width: 4rem;
    display: inline-block;
    text-align: inherit;
    border: solid 1px rgb(129, 129, 129);
}
button:hover {
    background: #7c7c7c6b;
    transition: 0.2s ease-in-out;
    border: solid 1px white;
    letter-spacing: 1px;
    font-weight: 500;
}
#generate:hover {
    background: #B9BB61;
    letter-spacing: 1px;
    border: solid 1px white;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: solid 2px white;
}
/* Map display section for later************************/
.map{
    font-family: 'Montserrat', sans-serif;
}
/* Weather results and card display section ************/
.weather-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
}
.dayCard{
    padding: 1em;
    line-height: 2em;
    width: 12.5rem;
    margin: 0.7em;
}
.dayCard h1{
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    font-size: 2em;
    padding-bottom: 0.5rem;
}
.dayCard h2{
    padding-bottom: 0.3rem;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}
.dayCard h3, .dayCard h4{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}
#highlights {
    background: #0b1e3dd0;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 45%;
    margin: 1rem;
    display: none;
}
#results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}
/* Loading animation section **************************/
#loading {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 8rem;
    color: #0b1e3dd0;
    background-color: currentColor;
    padding: 1rem 0.4rem 1rem 0.8rem;
    border-radius: 1rem;
    visibility: hidden;
}
.loading-text {
    font-size: 2.7em;
    color: white;
    margin: 0 auto;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    /* font-family: 'Give You Glory', cursive; */
    /* font-family: 'Italianno', cursive; */
    font-family: 'Nothing You Could Do', cursive;
    /* font-family: 'Over the Rainbow', cursive; */
}
.icon {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    color: rgb(221, 224, 224);
    width: 12em;
    height: 10em;
    font-size: 1.5rem; /* control icon size here */
}
.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: rgb(221, 224, 224);
    border-radius: 50%;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: rgb(221, 224, 224);
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
        -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { 
    background: #fff; 
}
.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #fff;
    animation: spin 12s infinite linear;
}
.sunHeader {
    animation: none;
}
.rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #EADB5B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #EADB5B;
}
.rays:before, .rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #EADB5B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #EADB5B;
}
.rays:before {
    transform: rotate(120deg);
}
.cloud + .sun {
    margin: -2em 1em;
}
.rain {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
    background: transparent;
}
.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}
.rainHeader:after {
    animation: none;
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0#0cf;
}
/* Media queries section *******************************/
@media screen and ( max-width: 1250px){
    html {
        font-size: 14px;
    }
}
@media screen and ( max-width: 1050px){
    .search, #loading {
        width: 90%;
    }
}
@media screen and ( max-width: 880px){
    html {
        font-size: 12px;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .add-button {
        margin: 1rem;
        height: 2rem;
        width: 8rem;
        font-size: 1rem;
        margin-left: 0;
    }
}
@media screen and ( max-width: 700px){
    body {
        background-size: 200%;
        background-position: left top;
    }
    .maintext {
        font-size: 1.8em;
    }
}
@media screen and ( max-width: 550px){
    html {
        font-size: 10px;
    }
    body {
        background-size: 300%;
        background-position: center top;
    } 
    .maintext {
        font-size: 2em;
    }
    /* header {
        padding: 0 .7em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    header, h1 {
        font-size: 1.1em;
    }
    .maintext{
        font-size: .7em;
    }
    .search, .map {
        width: 300px;
    } */
}