* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("umbrellas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} 
@font-face {
    font-family: "Outline";
    src: url("../Personal-Portfolio/Elephant-Outline.woff") format("woff");
    src: url("/Elephant-Outline.woff") format("woff");
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
@keyframes rain {
    0% {
        background: #0cf;
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em #0cf,
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    50% {
        background: rgba(255,255,255,0.3);
        box-shadow:
        0.625em 0.875em 0 -0.125em #0cf,
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    100% {
        box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
}
/* Header code *****************************************/
header {
    margin: 2rem 0 0rem 0;
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.headerMain {
    background: #0b1e3dd0;
    color: white;
    padding: 0rem 0rem 1.2rem 0.9rem;
    border-radius: 15px;
    width: 15rem;
    position: relative;
}
h1 {
    font-family: 'Outline', sans-serif;
    color: white;
    font-size: 4em;
    font-weight: 300;
}
.iconHeader {
    position: absolute;
    top: 3%;
    left: 52%;
    display: inline-block;
    color: rgb(221, 224, 224);
    width: 12em;
    height: 10em;
    font-size: 0.5em; /* control icon size here */
}
.subheader {
    text-align: center;
    letter-spacing: 5px;
    font-size: 3.55em;
    margin: 3rem 0;
    text-shadow: white 2px 2px 0;
    font-family: 'Give You Glory', cursive;
    /* font-family: 'Italianno', cursive; */
    /* font-family: 'Nothing You Could Do', cursive; */
    /* font-family: 'Over the Rainbow', cursive; */
    /* color: white;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black; */
}
/* Main data entry section *****************************/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1400px;
    min-width: 800px;
    margin-bottom: 2em;
}
.maintext {
    font-family: 'open sans', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1rem;
}
.weather-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    min-width: 800px;
}
.searchMain, .map, .dayCard {
    display: flex;
    flex-direction: column;
    background: #0b1e3dd0;
    color: white;
    padding: 1em 3em;
    border-radius: 15px;
    width: 60%;
}
#highlights {
    background: #0b1e3dd0;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 45%;
    margin: 1rem;
}
#loading {
    display: grid;
    justify-content: center;
    color: #0b1e3dd0;
    background-color: currentColor;
    padding: 1em 0.4em 1em 0.8em;
    border-radius: 15px;
    width: 60%;
    visibility: hidden;
}
/* .loading-text {
    font-size: 1.2em;
    padding: 0.5rem 1.5rem;
}
#loading-steps{
    font-size: 1.4em;
    padding-top: 0.3rem;
} */
/* Loading animation section **************************/
.icon {
    position: relative;
    display: inline-block;
    color: rgb(221, 224, 224);
    width: 12em;
    height: 10em;
    font-size: 1em; /* control icon size here */
}
.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: rgb(221, 224, 224);
    border-radius: 50%;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: rgb(221, 224, 224);
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
        -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { 
    background: #fff; 
}
.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #fff;
    animation: spin 12s infinite linear;
}
.sunHeader {
    animation: none;
}
.rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #EADB5B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #EADB5B;
}
.rays:before, .rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #EADB5B;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #EADB5B;
}
.rays:before {
    transform: rotate(120deg);
}
.cloud + .sun {
    margin: -2em 1em;
}
.rain {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
    background: transparent;
}
.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2), -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2), -1.375em -0.125em 0 rgba(255,255,255,0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}
.rainHeader:after {
    animation: none;
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0#0cf;
}
/* Next section ******************************************/
.landing {
    display: flex;
    flex-direction: column;
    background: #0b1e3dd0;
    color: white;
    padding: 2em 1.5em 2em 2em;
    border-radius: 15px;
    width: 520px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.landing h3{
    margin-bottom: 1.3em;
    font-size: 1rem;
}
.map{
    font-family: 'Montserrat', sans-serif;
}
.dayCard{
    padding: 1em;
    line-height: 1.8em;
    width: 200px;
    font-family: Geneva, Lucida Sans, sans-serif;
    margin: 0.7em;
}
.dayCard h1{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 0.2em;
}
.dayCard h2{
    padding-bottom: 0.2em;
    font-size: 1.4em;
    text-align: center;

}
.dayCard h3, .dayCard h4{
    font-family: 'Lucida Grande', Geneva, sans-serif;
    font-size: 0.9em;
}
.add-button {
    margin: .2em;
    border-radius: 10px;
    border: solid 1px rgb(129, 129, 129);
    height: 30px;
    width: 8rem;
    outline: none;
    background: #0b1e3dd0;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 0;
}
.delete-button {
    margin: .2em;
    border-radius: 10px;
    border: solid 1px rgb(129, 129, 129);
    height: 30px;
    width: 50px;
    outline: none;
    background: #0b1e3dd0;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}
#generate {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.9rem;
    border: solid 1px rgb(129, 129, 129);
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    width: 18rem;
    height: 40px;
}
#get-started {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.9rem;
    border: solid 1px rgb(129, 129, 129);
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
}
a {
    text-decoration: none;
    color: white;
}
#highlights {
    display: none;
}
input.search-bar, .city-input {
    border: none;
    outline: none;
    padding: 0.4em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: calc(100% - 145px);
    display: inline-block;
    text-align: inherit;
}
input.days{
    margin: 0.2em 0;
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 80px;
    display: inline-block;
}
.daysInput{
    margin: 0.2em;
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    background: #7c7c7c2b;
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 80px;
    display: inline-block;
}
button:hover {
    background: #7c7c7c6b;
    transition: 0.2s ease-in-out;
    border: solid 1px white;
    letter-spacing: 1px;
    /* text-shadow: 1px 1px 2px black; */
}
#generate:hover, #get-started:hover {
    background: rgb(175, 190, 37);
    letter-spacing: 1px;
    border: solid 1px white;
    transition: 0.3s ease-in-out;
}
#results{
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    display: none;
}
/* Media queries section *******************************/
@media screen and ( max-width: 800px){
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .searchMain, .map {
        width: 500px;
    }

}
@media screen and ( max-width: 630px){
    header {
        padding: 0 1em;
        margin-top: 2.5em;
        margin-bottom: 1.5em;
    }
    header, h1 {
        font-size: 1.3em;
    }
    .maintext{
        font-size: .9em;
        letter-spacing: 1px;
    }
    .searchMain, .map {
        width: 400px;
    }
}
@media screen and ( max-width: 475px){
    header {
        padding: 0 .7em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    header, h1 {
        font-size: 1.1em;
    }
    .maintext{
        font-size: .7em;
    }
    .searchMain, .map {
        width: 300px;
    }
}